<footer class=" fixed-bottom" style="background-color: #212529;">
    <ul class="nav justify-content-center border-bottom ">
      <li class="nav-item"><a href="{{ url_for('merhaba') }}" class="navs nav-link px-2 text-secondary">Ernaz</a></li>
      <li class="nav-item"><a href="{{ url_for('home_page')}}" class="navs nav-link px-2 text-secondary">Anasayfa</a></li>
      <li class="nav-item"><a href="{{ url_for('about_us')}}" class="navs nav-link px-2 text-secondary">Hakkımızda</a></li>
      <li class="nav-item"><a href="{{ url_for('contact_us')}}" class="navs nav-link px-2 text-secondary">İletişim</a></li>
      <li class="nav-item"><a href="{{ url_for('projects')}}" class="navs nav-link px-2 text-secondary">Projelerimiz</a></li>
    </ul>
    <p class="text-center text-secondary">© Eklenecek herhangi bir kaç söz</p>
  </footer>