<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ERNAZ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
  <body class="bg-dark">

  


  {% include 'navbar.html' %}

  <!-- SLIDER -->
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://picsum.photos/seed/picsum/2000/900" class="display-table" style="max-width: 100%;" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://picsum.photos/2000/900?grayscale" class="display-table" style="max-width: 100%;" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://picsum.photos/id/870/2000/900?grayscale&blur=2" class="display-table" style="max-width: 100%;" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- SLIDER END -->

  <div class="container">
    <!-- TEXT1 -->
    <div class="container">
      <div class="row mt-5">
        <div class="col-1"></div>
        <div class="col-10">
          <h1 class="text-center text">Lorem, ipsum.</h1>
          <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta ut ab sit, quas culpa eum et ex placeat,
            hic soluta iusto nisi tempora. Officiis temporibus tempore atque quam, tempora perferendis explicabo ullam
            blanditiis delectus, neque maxime veniam. Officiis ipsum error dolore laboriosam. Nemo architecto iusto sint
            corrupti dicta optio necessitatibus.</p>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
    <!-- TEXT1 END -->
    <hr>
    <!-- TEXT2 -->
    <div class="container">
      <div class="row mt-5">
        <div class="col-1"></div>
        <div class="col-10">
          <h1 class="text-center text">Lorem, ipsum.</h1>
          <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta ut ab sit, quas culpa eum et ex placeat,
            hic soluta iusto nisi tempora. Officiis temporibus tempore atque quam, tempora perferendis explicabo ullam
            blanditiis delectus, neque maxime veniam. Officiis ipsum error dolore laboriosam. Nemo architecto iusto sint
            corrupti dicta optio necessitatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus,
            voluptates eum vel adipisci blanditiis dolores incidunt praesentium similique culpa ea commodi vitae
            accusamus pariatur suscipit est! Ipsa ipsum vitae laudantium repellendus dolorum commodi, quo laborum
            tenetur quam cumque voluptas exercitationem unde. Fugiat labore, accusamus earum veritatis optio error nobis
            eveniet ullam laborum odit! Porro veniam, consectetur, debitis quaerat deserunt tempora, quia obcaecati
            expedita officia unde reiciendis odio doloremque temporibus dolorum. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Debitis, cumque! Distinctio reiciendis minus mollitia. Ad voluptates magni ab aperiam aut
            assumenda dignissimos? Fugit magni rerum ad reiciendis maxime deserunt, aspernatur, quae fuga vel culpa odio
            possimus iste maiores accusamus. Repudiandae, sit? Officiis amet deserunt sint ea ut quasi? Illum, deserunt
            non nam dolore amet laudantium maiores quis ea, cupiditate magnam neque quidem mollitia possimus laborum sed
            autem quibusdam iste perspiciatis iusto molestias omnis aut facere? Inventore, error? Eaque ad harum
            pariatur magnam doloremque voluptatum itaque sint deleniti similique placeat, aperiam rem, maxime provident
            nulla veritatis, fugit saepe esse dolorem. Ea possimus, facere inventore fugit fuga quasi ad nesciunt
            aliquam, temporibus iure exercitationem necessitatibus eius ratione amet tenetur. Dolorum, odit cum
            accusamus quidem reprehenderit velit laudantium omnis iusto porro, molestias cumque recusandae. Et repellat
            aspernatur vero provident vitae autem distinctio dolorem error, accusamus dignissimos nostrum tenetur iure
            ut tempore molestiae velit architecto in officia non eius minima. Neque, inventore aliquid. Praesentium
            fugiat cum aliquid provident! Tempora unde nisi quas nesciunt rem, voluptatum iure sint optio placeat
            molestiae similique a minus, aliquam natus dignissimos ipsa, praesentium cum! Provident nihil voluptas nam
            amet esse eos perspiciatis, neque, voluptate laboriosam sed ab. Officia, illo.</p>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
    <!-- TEXT2 END -->
    <hr>
    <!-- TEXT3 -->
    <div class="container">
      <div class="row mt-5">
        <div class="col-1"></div>
        <div class="col-10">
          <h1 class="text-center text">Lorem, ipsum.</h1>
          <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta ut ab sit, quas culpa eum et ex placeat,
            hic soluta iusto nisi tempora. Officiis temporibus tempore atque quam, tempora perferendis explicabo ullam
            blanditiis delectus, neque maxime veniam. Officiis ipsum error dolore laboriosam. Nemo architecto iusto sint
            corrupti dicta optio necessitatibus. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos ipsum
            accusamus cupiditate perspiciatis a, hic deserunt veniam minima praesentium possimus blanditiis nobis
            officia unde tempora modi adipisci natus recusandae fugiat sed molestias error. Veritatis molestias iusto
            exercitationem voluptas reprehenderit officiis, impedit aperiam, obcaecati dolore dolor assumenda tempora
            enim quos. Necessitatibus vitae, sunt dolore debitis dicta accusamus temporibus saepe earum cupiditate est,
            doloribus eos hic delectus sequi culpa quis quibusdam quam.</p>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
    <!-- TEXT3 END -->
  </div>

  <!-- CARDS -->
  <div class="container mt-5  bg-dark">
    <div class="row">
      <div class="col-sm-12 mt-5 ">
        <div class="card bg-dark">
          <p id="bir" class="text"><span>MAVİ</span></p>
          <p id="iki" class="text"><span>LC VAIKIKI</span></p>
          <p id="uc" class="text"><span>KOTON</span></p>
          <p id="dort" class="text"><span>VS</span></p>
      </div>
      </div>
    </div>
  </div>
  <!-- CARDS END -->

  <div class="container-fluid my-5">
    <div class="row my-5" >
        <div class="col-sm-1"></div>
        <div class="col-sm-1 "><img class="rounded-circle" src="https://picsum.photos/id/237/100/100" alt=""></div>
        <div class="col-sm-1 "><img class="rounded-circle" src="https://picsum.photos/id/238/100/100" alt  =""></div>
        <div class="col-sm-1 "><img class="rounded-circle" src="https://picsum.photos/id/239/100/100" alt  =""></div>
        <div class="col-sm-1 "><img class="rounded-circle" src="https://picsum.photos/id/240/100/100" alt  =""></div>
        <div class="col-sm-1 "><img class="rounded-circle" src="https://picsum.photos/id/241/100/100" alt  =""></div>
        <div class="col-sm-1 "><img class="rounded-circle" src="https://picsum.photos/id/242/100/100" alt  =""></div>
        <div class="col-sm-1 "><img class="rounded-circle" src="https://picsum.photos/id/243/100/100" alt  =""></div>
        <div class="col-sm-1 "><img class="rounded-circle" src="https://picsum.photos/id/244/100/100" alt  =""></div>
        <div class="col-sm-1 "><img class="rounded-circle" src="https://picsum.photos/id/236/100/100" alt  =""></div>
        <div class="col-sm-1"></div>
        
    </div>
  </div>
  <br><br><br>

  {% include 'footer.html' %}

  <script src="{{ url_for('static', filename='js/style.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>

  </body>
  </html>